<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053442770629-al7ar09vhgsj2827rccstuobej9ng0jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053442770629-al7ar09vhgsj2827rccstuobej9ng0jr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1053442770629-eqisq56ppghqj4siksp0pckk4tocmp7n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChIm3jlDaddFUmvpFrzcXeOAMr8Xd878M</string>
	<key>GCM_SENDER_ID</key>
	<string>1053442770629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ott.amuziapp</string>
	<key>PROJECT_ID</key>
	<string>amuzi-5f9d4</string>
	<key>STORAGE_BUCKET</key>
	<string>amuzi-5f9d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053442770629:ios:2fd04d98b04c933a1192ac</string>
</dict>
</plist>